.maquinas {
    margin: 40px;
    border-top: 4px solid #1d2a3a;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
    width: 400px;
    height: 250px;
    background-color: #293544;
    align-items: center;
    text-align: center;
}

.maquinas h3 {
    background-color: #293544;
    margin: 10px 0 25px;
}

.maquinas p {
    padding: 5px 20px;
    text-align: left;
    background-color: #293544;
}

.subt-maquina {
    color: grey;
    margin-top: 15px;
}

.dur-maquina {
    color: grey;
    margin-top: 15px;
}

.btn-ativacao {
    border-radius: 5px;
    width: 200px;
    cursor: pointer;
    margin-top: 7%;
    border: none;
    font-size: 17px;
    padding: 10px;
    color: white;
    background-color: #111821;
}

.btn-ativacao:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: 0.3s;
    background-color: #1d2a3a;
}