<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="static/alerta.js"></script>
    <script src="https://kit.fontawesome.com/314820c3c8.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/static/icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/maquinas.css">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/responsividade.css">

    <title>Investment - Maquinas</title>
</head>

<body>

    <section id="corpo-top">

        <div id="tittle">
            <h1 style="cursor: pointer;">I N V E S T M E N T</h1>
        </div>


        <div id="qtd-options">

            <div class="maquinas">

                <h3>MAQUINA 01 - R$ 20,00</h3>
                <p class="dur-maquina">Duração de maquina: 15 dias</p>
                <p class="subt-maquina">Rendimento: 5%</p>
                <button class="btn-ativacao" onclick="alerta()">Ativar maquina</button>

            </div>

            <div class="maquinas">

                <h3>MAQUINA 02 - R$ 80,00</h3>
                <p class="dur-maquina">Duração de maquina: 30 dias</p>
                <p class="subt-maquina">Rendimento: 10%</p>
                <button class="btn-ativacao" onclick="alerta()">Ativar maquina</button>

            </div>

        </div>

    </section>

    <section id="corpo-botton">

        <div class="body-botton">

            <i class="fa-solid fa-house"></i>
            <a href="{{ url_for('homePage') }}">HOME</a>

        </div>

        <div class="body-botton">

            <i class="fa-solid fa-money-bill-transfer"></i>
            <a href="{{ url_for('saque') }}">SAQUE</a>

        </div>

        <div class="body-botton">

            <i class="fa-solid fa-robot"></i>
            <a href="{{ url_for('maquinas') }}">MAQUINAS</a>

        </div>

        <div class="body-botton">

            <i class="fa-solid fa-user"></i>
            <a href="{{ url_for('conta') }}">CONTA</a>

        </div>

    </section>

</body>

</html>